@import 'variables';

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;

  &__img {
    border: 8px solid $dark-gray;
    border-radius: 50%;
    border-top: 8px solid $blue;
    width: 60px;
    height: 60px;
    animation: spin 2s linear infinite;
  }
}
