@import "variables";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: $font-family;
  color: $font-color;
  background-color: $light-gray;
  overflow-y: auto;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: inherit;
}